{% extends 'base.html' %} {% block content %}
<div>
	<p>Alle endringene er skrevet til dbexcel!</p>
</div>

<div>
	{% for key, table in data.items() %}

	<div>
		<h3>Tabell for {{ key }}</h3>

		<table border="1" style="margin-bottom: 20px">
			{% for idx, row in table.iterrows() %} {% for col in table.columns
			%}
			<tr
				style="background-color: {% if idx % 2 == 0 %}#f2f2f2{% else %}#ffffff{% endif %}"
			>
				<th>{{ col }}</th>
				<td>{{ row[col] }}</td>
			</tr>

			{% endfor %} {% endfor %}
		</table>
	</div>

	{% endfor %}
</div>
{% endblock %}
