{% extends 'base.html' %}
<!-- Skriv inn din kode her for å returnere svar for bruksscenario om svar på en søknad. -->
{% block content %}
<table border="1">
	{% for k,v in data.items() %}
	<tr>
		<th>{{ k }}</th>
		<td>{{ v }}</td>
	</tr>
	{% endfor %}
</table>

<div>
	{%if tilbud|length == 0 %}
	<h2>Det er ledige plasser for denne søknaden.</h2>
	{% else %}
	<table border="1">
		<th>
			<p>Tilgjengelige tilbud</p>
		</th>
		{% for b in tilbud %}
		<tr>
			<td>{{ b }}</td>
		</tr>
		{% endfor %}
	</table>
	{% endif %}
</div>
{% endblock %}
